{erl_opts,
 [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "23"}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{deps, []}.

{dialyzer,
 [{warnings, [no_return, error_handling]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {base_plt_apps, [erts, stdlib, kernel]},
  {base_plt_location, global}]}.

{xref_checks,
 [undefined_function_calls,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{spellcheck,
 [{ignore_regex, "(eunit|~>|--|==|\\^|_|//|\\d[.]\\d|[{].+[}]|[+])"},
  {files, ["src/*", "test/*"]},
  {additional_dictionaries, ["nextroll.dict"]}]}.

{alias, [{test, [format, spellcheck, lint, hank, xref, dialyzer, ct, cover]}]}.

{project_plugins,
 [{rebar3_hex, "~> 7.0.1"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.2"},
  {rebar3_hank, "~> 1.2.2"},
  {rebar3_sheldon, "~> 0.4.2"}]}.
